
.media {
border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}
.item-price{
text-align: center;
margin-top: 5px;
margin-bottom: 10px;
}
.media-body{
padding-left: 10px;
}
.item-interested-btn{
padding-bottom: 3px;
}
.side-info-box{
max-width: 250px;
min-width: 250px;
text-align: center;
vertical-align: middle;
}
.seller-info-box{
border-left: 1px solid rgba(204, 204, 204, 0.35);
}
.item-picture {
          cursor: pointer;
          transition: 0.3s;
      }
.item-picture:hover {
          opacity: 0.7;
        }
.item-img-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1000; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
.modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }
.close-modal {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
.close-modal:hover,
.close-modal:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}
@media only screen and (max-width: 700px){
.modal-content {
width: 100%;
}
}
