{% extends 'registrations/base.html' %}
{% load static %}

{% block body %}
<!-- <style type="text/css">
    .paraBig {
        font-size: 50;
    }
</style> -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="card">
            <div class="header">
                <h1>
                    D.U.B.S - DU BOOK SHOP
                </h1>
                <h3>A step towards making DU a greener campus!</h3>
            </div>
            <div class="body">
                <p class="lead">
                    <centre><i><b>“Be the change that you want to see in the world”</b></i> - Mahatma Gandhi</centre>
                </p><br>
                <p style="font-size:150%">
                    DU Book Shop (DUBS) is Delhi University’s First <b>Book Reuse Project</b>. DUBS is an online platform which brings buyers and sellers from all around DU together. Sellers can list their old readings, books and notes under specific courses and semesters. Buyers can browse through these listings and contact the sellers to conduct the purchase. It creates a win-win situation for both the parties. Buyers get to purchase readings at a price lesser than market price and sellers get an opportunity to make some quick bucks. 
                    In the process, we conserve energy, preserve the environment and save finances. In economic terms, it is a step towards making the market <b>Pareto Optimal.</b> 
                </p>
                <h3><b>RATIONALE:</b></h3>
                <p style="font-size: 150%">
                    Each academic semester thousands of new textbooks (readings, as we call them) are being printed, bought and used. On the other hand, almost the same number of textbooks and course material are being discarded after use which find their way to the garbage bins, ultimately reaching the landfill site. In most cases these textbooks are not being reused or recycled, generating huge quantities of paper waste. 
                    We aim to put an end to this wastage of finances, energy and environmental resources. Come, join us in this journey! 
                </p>
            </div>
        </div>

        </div>
        </div>

{% endblock %}
