{% extends 'registrations/base.html' %}

{% block body %}

<style type="text/css">
    .inputBold{
      font-weight: bold;
    }
</style>

<!--Form Div Start-->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Complete Profile Details</h2>
            </div>
            <div class="body">
                <form id="form_validation" method="POST" enctype="multipart/form-data" action="{% url 'complete_profile' %}">
                    {% csrf_token %}
                  <!-- <div class="row clearfix">
                  <div class="col-lg-4 col-md-3 col-sm-3 col-xs-6"> -->
                    <!-- <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control inputBold" name="first_name" value="{{ data.first_name }}" required>
                            <label class="form-label"><b>First Name</b></label>
                        </div>
                  </div> -->
                    <!-- </div> -->
                    <!-- <div class="col-lg-4 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control inputBold" name="last_name" value="{{ data.last_name }}">
                            <label class="form-label"><b>Last Name</b></label>
                        </div>
                    </div>
                    </div> -->
                    <div class="row clearfix">
                    <div class="col-lg-5">
                    <div class="form-group form-float">
                        <select class="form-control show-tick" size="5" data-live-search="true" name="college_name" value="college_name">
                            <option disabled>Your College?</option>
                            {% for college in colleges %} -->
                                <option>{{ college.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control show-tick" size="5" data-live-search="true" name="course_name" value="course_name">
                            <option value="" disabled selected>Your  Course?</option>
                            {% for course in courses %}
                                <option>{{ course.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control show-tick" name="year" value="year">
                            <option value="" disabled selected>Current Year of Study?</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="Masters">Masters</option>
                        </select>
                    </div>
                    </div>
                    <div class="row clearfix">
                    <div class="col-lg-3">
                    <div class="form-group">
                      <b>Gender: </b>
                        <input type="radio" name="gender" id="male" class="with-gap" value="M" checked="checked">
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="female" class="with-gap" value="F">
                        <label for="female" class="m-l-20">Female</label>
                        <input type="radio" name="gender" id="other" class="with-gap" value="O">
                        <label for="other" class="m-l-20">Other</label>
                    </div>
                    <div class="form-group">
                        <label for="file">Upload a profile picture (optional)</label>
                        <input type="file" id="file" name="file">
                    </div>
                    </div>
                    </div>
                    <button class="btn btn-primary waves-effect inputBold" type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Form Div End-->

{% endblock %}
