{% extends 'registrations/base.html' %}
{% load static %}
{% block body %}
{% load registrations_tags %}

{% if messages %}
<div class="body">
{% for message in messages %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
</div>
{% endfor %}
</div>
{% endif %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    SOME BOOK SUGGESTIONS FOR YOU
                </h2>
            </div>
            <div class="body">
                <style>
                    .media {
                    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
                    }
                    .item-price{
                    text-align: center;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    }
                    .media-body{
                    padding-left: 10px;
                    }
                    .item-interested-btn{
                      padding-bottom: 3px;
                    }
                    .side-info-box{
                      max-width: 250px;
                      min-width: 250px;
                      text-align: center;
                      vertical-align: middle;
                    }
                    .seller-info-box{
                      border-left: 1px solid rgba(204, 204, 204, 0.35);
                    }
                </style>
                <div class="bs-example" data-example-id="media-alignment">
                    {% for book in books %}
                        <div class="media">
                            <div class="media-left media-top">
                                <a>
                                    <img class="media-object item-picture" src="{{ book.image.url }}" width="100" height="100"/>
                                </a>
                                <div class="item-price col-black">₹{{book.price}}</div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ book.title }}</h4>
                                {% if book.category == "B" %}
                                <p>
                                    <b>Edition</b>  : {{ book.edition }}
                                </p>
                                {% endif %}
                                <p>
                                  <b>Used For : </b> <span class="label bg-cyan">{{book.course.name}}</span>
                                  {% autoescape off %}{% get_year_semester book %}{% endautoescape %}
                                </p>
                                {% if book.description != "" %}
                                <p>
                                    <b>Additional Details : </b>{{ book.additional_details }}
                                </p>
                                {% endif %}
                                <p>
                                    <b>Condition : </b>{{ book.additional_details }}
                                </p>
                                {% if book.contains_notes == True %}
                                <p>
                                    <span class="label bg-cyan">NOTES INCLUDED</span>
                                </p>
                                {% endif %}
                            </div>
                            <div class="media-body side-info-box">
                              {% if request.user.profile in book.interested_users.all %}
                              <div class="seller-info-box">
                                <h5><span class="label label-primary bg-blue-grey">Seller Info</span></h5>
                                <p>
                                  <b>Name</b>
                                  <br>
                                  {{book.seller.auth_user.first_name}} {{book.seller.auth_user.last_name}}
                                </p>
                                <p>
                                  <b>Email</b>
                                  <br>
                                  {{book.seller.auth_user.email}}
                                </p>
                                  <p>
                                   <b>College</b>
                                   <br>
                                   {{book.seller.college.name}}
                                  </p>
                                  </div>
                              {% else %}
                              <div>
                                  <button id="{{book.id}}" type="book" class="btn bg-blue waves-effect confirm_interest">Show Seller</button>
                              </div>
                              <div class="seller-info-box" style="display:none;">
                                <h5><span class="label label-primary bg-blue-grey">Seller Info</span></h5>
                                <p>
                                  <b>Name</b>
                                  <br>
                                  <span id="seller_name"></span>
                                </p>
                                <p>
                                  <b>Email</b>
                                  <br>
                                  <span id="seller_email"></span>
                                </p>
                                  <p>
                                   <b>College</b>
                                   <br>
                                   <span id="seller_college"></span>
                                  </p>
                                  </div>
                              {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
