<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>LOGIN | DUBS</title>
    <link rel="shortcut icon" href="{% static 'registrations/images/background.jpg' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'registrations/images/favicon.ico' %}" type="image/x-icon">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'registrations/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'registrations/plugins/node-waves/waves.css' %}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{% static 'registrations/plugins/animate-css/animate.css' %}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{% static 'registrations/css/style.css' %}" rel="stylesheet">

    <!--For google login button-->
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
    <!--End google link-->

</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <img src="{% static 'registrations/images/dubs_logo.jpg' %}" alt="">
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h5><div class="msg">Sign in!</div></h5>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Username or Email" required autofocus id="username">
                            {% if messages %}
                            <div class="body">
                            {% for message in messages %}
                            <label class='error' for='username' generated="true">{{ message }}</label>
                            {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password" required id="password">
                            {% if messages %}
                            <div class="body">
                            {% for message in messages %}
                            <label class='error' for='password' generated="true">{{ message }}</label>
                            {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-cyan waves-effect" type="submit">SIGN IN</button>
                        </div>
                    </div>
                    <!--Google login-->
                    <div style="vertical-align:middle; text-align: center;">
                            <div style="vertical-align:middle; display:inline-block;" class="oauth-container btn darken-4 white" onclick="window.location.href='/users/google-oauth/'">
                                <img width="20px" style="margin-top:4px; margin-bottom:4px; margin-right:5px" alt="Google sign-in"
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                    Login with Google
                            </div>
                    </div>
                    <!--Google login end-->
                    <div class="row">
                        <div class="m-t-25 m-b--5 align-center">
                            <a href="{% url 'sign_up' %}">Don't have an account? Sign up!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="{% static 'registrations/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'registrations/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'registrations/plugins/node-waves/waves.js' %}"></script>

    <!-- Validation Plugin Js -->
    <script src="{% static 'registrations/plugins/jquery-validation/jquery.validate.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'registrations/js/admin.js' %}"></script>
    <script src="{% static 'registrations/js/pages/examples/sign-in.js' %}"></script>
</body>

</html>
