{% extends 'registrations/base.html' %}

{% block body %}
{% if messages %}
<div class="body">
{% for message in messages %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
</div>
{% endfor %}
</div>
{% endif %}

<!--Form Div Start-->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Add Book Listing</h2>
            </div>
            <div class="body">
                <form id="form_validation" method="POST" enctype="multipart/form-data" action="{% url 'sell_book' %}">
                    {% csrf_token %}
                  <div class="row clearfix">
                  <div class="col-lg-6 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="title" value="{{ data.title }}" required>
                            <label class="form-label"><b>Title</b></label>
                        </div>
                  </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="edition" value="{{ data.edition }}">
                            <label class="form-label"><b>Edition (Leave blank for a Reading)<b></label>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="form-group form-float">
                        <select class="form-control show-tick" size="5" data-live-search="true" name="course_name" value="course_name">
                            <option disabled> Course for which book/reading was used? </option>
                            {% for course in courses %} -->
                                <option>{{ course.name }}</option>
                            {% endfor %}
                            <!-- <option>Hot Dog, Fries and a Soda</option>
                            <option>Burger, Shake and a Smile</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Sugar, Spice and all things nice</option> -->
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control show-tick" name="year" value="year">
                            <option value="" disabled selected>Year for which it was used?</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="Masters">Masters</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control show-tick" name="semester" value="year">
                            <option value="" disabled selected>Semester for which it was used?</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    </div>
                    <div class="row clearfix">
                    <div class="col-lg-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="condition" value="{{ data.condition }}" required>
                            <label class="form-label"><b>Condition</b></label>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group col-sm-3">
                            <span class="input-group-addon">
                                <i class="material-icons">info</i>
                              <b>Price: </b>
                                <large>₹</large>
                            </span>
                            <div class="form-line form-group col-sm-3">
                                <input type="text" name="price" value="{{ data.price }}" class="form-control money-dollar" required>
                            </div>
                        </div>
                    </div>
                      </div>
                      <div class="row clearfix">
                    <div class="col-lg-3">
                    <div class="form-group">
                      <b>Type: </b>
                        <input type="radio" name="type" id="full_book" class="with-gap" value="B">
                        <label for="full_book">Full Book</label>
                        <input type="radio" name="type" id="reading" class="with-gap" value="R" checked="checked">
                        <label for="reading" class="m-l-20">Reading</label>
                    </div>
                    <div class="form-group">
                        <label for="file">Upload a clear image</label>
                        <input type="file" id="file" name="file">
                    </div>
                    </div>
                    <!-- <div class="col-lg-2">
                        <div class="form-group">
                            <label for="image">Upload a clear image</label>
                            <input type="file" id="image" name="image">
                        </div>
                    </div> -->
                    <div class="col-lg-2">
                    <div class="form-group">
                        <input type="checkbox" id="notes" name="notes" value="yes">
                        <label for="notes">Notes included?</label>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="additional_details" value="{{ data.additional_details }}">
                                <label class="form-label"><b>Any additional details that could help the buyer</b></label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                </form>
              </div>
        </div>
    </div>
</div>
<!--Form Div End-->

{% endblock %}
